<section
  class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
  style="background-image: url(assets/img/page-header/page-header-elements.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center p-static order-2">
        <h1>DART - Diary</h1>
        <h4>A page to update our daily diary</h4>
      </div>
    </div>
  </div>
</section>

<h2>Report</h2>
<form #updateForm='ngForm' >
    <label>Name :</label>
    <select #inputName>
      <option>--SELECT--</option>
      <option>Monicka</option>
      <option>Hema</option>
      <option>Ramesh</option>
      <option>Madhavan</option>
      <option>Aadhavan</option>
      <option>Madhan</option>
      <option>Prasanth</option>
    </select>



    <label>Date</label>
    <input type="text" #inputDate>

    <button (click)="onClick(inputName.value,inputDate.value)">GET</button>
<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>From time</th>
    <th>To time</th>
    <th>Planned task</th>
    <th>Actual task</th>
    <th>Remarks</th>
  </tr>

  <tr *ngFor="let dart of darts">
    <td>{{dart.taskDate}}</td>
    <td>{{dart.userName}}</td>
    <td>{{dart.fromTime}}</td>
    <td>{{dart.toTime}}</td>
    <td>{{dart.plannedTask}}</td>
    <td><input type='text' #actualTask /></td>
    <td>{{dart.remarks}}</td>

  </tr>
</table>

<!-- <button (click)="onSubmit(actualTask.value)">Submit</button> -->

</form>
